@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


/* Primary Styles */
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  color: #45f3ff;
  background: #23242a;
}

h1 {
 font-size: 1.4em;
}

em {
  font-style: normal;
}

button{
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
} 

/* Layout */
.s-layout {
  display: flex;
  width: 100%;
  min-height: 90vh;
}

.s-layout__content {
  display: flex;
  flex: 1;
  padding-left: 60px;
  padding-top: 70px;
}

/* Sidebar */
.s-sidebar__trigger {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  background: black;
}

.s-sidebar__trigger > i {
  display: inline-block;
  margin: 1.5em 0 0 1.5em;
  color: black;
}

.s-sidebar__nav {
  position: fixed;
  top: 0;
  left: -15em;
  overflow: hidden;
  transition: all .3s ease-in;
  width: 15em;
  height: 100%;
  background: #45f3ff;
  color: #23242a;
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
  left: 0;
}

.s-sidebar__nav ul {
  position: absolute;
  top: 4em;
  left: 0;
  margin: 0;
  padding: 0;
  width: 15em;
}

.s-sidebar__nav ul li {
  width: 100%;
}

.s-sidebar__nav-link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 4em;
  transition: background-color 300ms;
  transition: color 300ms;
}

.s-sidebar__nav-link em {
  position: absolute;
  top: 50%;
  left: 4em;
  transform: translateY(-50%);
}

.s-sidebar__nav-link:hover {
  background: whitesmoke;
  color: #45f3ff;
}

.s-sidebar__nav-link > i {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 4em;
  height: 4em;
}

.s-sidebar__nav-link > i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Mobile First */
@media (min-width: 42em) {
  .s-layout__content {
     margin-left: 4em;
  }
  
  /* Sidebar */
  .s-sidebar__trigger {
     width: 4em;
  }
  
  .s-sidebar__nav {
     width: 4em;
     left: 0;
  }
  
  .s-sidebar__nav:hover,
  .s-sidebar__nav:focus,
  .s-sidebar__trigger:hover + .s-sidebar__nav,
  .s-sidebar__trigger:focus + .s-sidebar__nav {
     width: 15em;
  }
}

@media (min-width: 68em) {
  .s-layout__content {
     margin-left: 15em;
  }
  
  /* Sidebar */
  .s-sidebar__trigger {
     display: none
  }
  
  .s-sidebar__nav {
     width: 15em;
  }
  
  .s-sidebar__nav ul {
     top: 1.3em;
  }
}

.line1 {
  margin-left: 5px;
  width: 300px;
  text-align: left;
  transition: color 300ms;
  transition: text-shadow 300ms;
  color: white;
}

.line2 {
  margin-left: 55px;
  width: 300px;
  text-align: left;
  color: white;
}



.line3 {
  margin-left: 105px;
  width: 300px;
  text-align: left;
  color: white;
}

.line4 {
  margin-left: 155px;
  width: 300px;
  text-align: left;
}

.line1:hover {
  color: #45f3ff;
  text-shadow: 0px 0px 15px #ffffff;
}

.iconbtn {
  padding: 20px;
}

.greencircle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(75, 248, 6);
  margin: auto;
}

.yellowcircle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: yellow;
  margin: auto;
}

.redcircle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ff0000;
  margin: auto;
}

.novalue{
  text-decoration : line-through;
  opacity: 100%;
  color: transparent;
  text-shadow: 0 0 7px rgb(253, 253, 253);
}
.yesvalue{
  text-decoration : none;
  opacity: 100%;
  color: white;
  text-shadow: none;
}

.iconbtn{
  border: none; /* Remove borders */
  color: #45f3ff; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  transition: color 300ms;
}

.iconbtn:hover {
  text-shadow:0px 0px 25px#ffffff;
  color: white;  
}