@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import "compass/css3";


*, :before, :after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}

:root {
  --orange: #DF4500;
  --gray: #35302D;
  --gray-shine: #3C3735;
  --white-off: #DFDBD9;
  --sans: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
  a{ text-decoration: none; }
}
.list-inline{ overflow: hidden;
  li{ float: left; }
}

.header{
  position: fixed;
  left: 0; top: 0; bottom: 0;
  width: 17.5em;
  background: $gray;
}

.logo{
  text-transform: lowercase;
  font: 300 2em $sans;
  text-align: center;
  padding: 0; margin: 0;
  
  a{
    display: block;
    padding: 1em 0;
    color: var(--white-off);
    text-decoration: none;
    transition: .15s linear color;
    
    &:hover{
      color: #fff;
      span{ color: var(--orange); }
    }
  }
  
  span{
    font-weight: 700;
    transition: .15s linear color;
  }
}

// MAIN NAV
.main-nav{
  
  ul{
    border-top: solid 1px $gray-shine;
  }
  
  li{
    border-bottom: solid 1px var(--gray-shine);
  }
  
  a{
    padding: 1.1em 0;
    color: var(--white-off);
    font: 400 1.125em $sans;
    text:{
      align: center;
      transform: lowercase;
    }
    
    &:hover{
      color: #fff;
    }
  }
}

// SOCIAL LINKS
.social-links{
  border-bottom: solid 1px var(--gray-shine);
  
  li{
    width: 25%;
    border-left: solid 1px var(--gray-shine);
    &:first-child{ border: none; }
  }
  
  a{
    display: block;
    height: 5.5em;
    text-align: center;
    color: var(--gray-shine);
    font: 0.75em/5.5em var(--sans);
    &:hover{
      color: var(--white-off);
    }
  }
}

// HOVER SLIDE EFFECT
.list-hover-slide{
  
  li{
    position: relative;
    overflow: hidden;
  }
  
  a{
    display: block;
    position: relative;
    z-index: 1;
    transition: .35s ease color;
    
    &:before{
      content: '';
      display: block;
      z-index: -1;
      position: absolute;
      left: -100%; top: 0;
      width: 100%; height: 100%;
      border-right: solid 5px $orange;
      background: $gray-shine;
      transition: .35s ease left;
    }
    
    &.is-current,
    &:hover{
      
      &:before{
        left: 0;
      }
    }
  }
}